<div class="detailof1 container">
	<div class="detailof1-title clear">
		<span>&lt;&lt;犹太人在上海&gt;&gt;音乐剧</span>
		<div class="detailof1-title-right">
			<img src="../images/progress.png" alt="">
		</div>
	</div>
	<div class="detailof1-main">
		<h1>
			<span class="span1">支付金额：</span>
		    <span class="price2">￥5.00</span>
		</h1>
		<div class="detailof1-mainof1 clear">
			<span class="span2">支付回报：</span>
            <div class="detailof1-main-news">
            	<span>
            		1.犹太人在上海手机壁纸一套（共7张）；2.每200人随机抽取1名幸运用户，不满200人也按200人抽取，获赠《犹太人在上海》演员签名海报一份+纪念画册一本；中奖名单将在话题区公布，奖品最终由项目方发送至得奖者手中（免配送费）。预计回报发放时间：项目成功结束后5天内
            	</span>
            	<p>预计回报发放时间：<span>项目成功结束后5天内</span></p>
            </div>
		</div>
		<div class="detailof1-mainof2 clear">
            <span class="txt1">备注：</span>
            <textarea></textarea>
        </div>
        <div class="detailof1-mainof2 clear">
            <span class="txt1">联系方式：</span>
            <input type="text" placeholder="您的称呼">
            <span class="txt2">136****8388</span>
            <span class="txt3">（手机号码用于接收回报奖品，客服将根据此手机号与您联系，请确认无误！）</span>
        </div>
	</div>
    <p class="p1">风险说明</p>
    <p>1、众筹成功后，如果出现项目方回报无法发放的情况，您需要直接和项目发起人协商解决退款事宜，平台没有帮您追讨资金的义务。</p>
    <p>2、支持纯抽奖档位一旦您支付成功将不予退款，项目募集失败的除外；支持无私奉献档位，项目一旦募集成功将不予退款。</p>
    <p>3、全民创造只提供平台服务，回报由项目发起人为您提供并负责发货，同时项目发起人有为您开具发票的法定义务。</p>
    <p class="p1">特别说明</p>
    <p class="p2">系统会自动对超出限额的订单进行全额退款，对您造成的不变，深表歉意！</p>
    <a ui-sref="detailof2" title="">确认支付</a>
</div>