<div class="my">
	<div class="mybox">
	    <div class="container">
	    	<div class="mybox-title clear">
				<div class="mybox-title-left clear">
					<img src="../images/boy.png" alt="" class="boy">
					<img src="../images/mobile.png" alt="" class="mobile">
					<img src="../images/message.png" alt="" class="message">
					<img src="../images/person.png" alt="" class="person">
				</div>
				<div class="mybox-title-right">
				    <div>
				    	<span class="user">用户HZ17363525</span>
					    <span class="h">下午好！</span>
				    </div>
					<p class="clear"> 
					   <span>账户安全等级：</span>
					   <span class="safebox">
					   	   <span class="safe"></span>
					   </span>
					   <span>中</span>
					</p>
					<p>上次登录时间：2015-09-15 18：29：49</p>
				</div>
		    </div>
	    </div>
	</div>
	<div class="mybox-main container clear">
		<div class="mybox-main-left">
			<p><a ui-sref="my.test1" title="" class="active3" ui-sref-active='active3'>个人主页</a></p>
			<p><a ui-sref="my.test2" title="" ui-sref-active='active3'>个人信息</a></p>
			<p><a ui-sref="my.test3.test3-1" title="" ui-sref-active='active3'>安全设置</a></p>
			<p><a ui-sref="my.test4" title="" ui-sref-active='active3'>关注的圈子</a></p>
			<p><a ui-sref="my.test5" title="" ui-sref-active='active3'>购买记录</a></p>
		</div>
		<div class="mybox-main-right ui-view"></div>
	</div>
</div>