<div class="test1">
    <div class="test1-title">
    	<h1>我关注的项目</h1>
    </div>
    <div class="container">
    	<div class="row">
    		<div class="col-md-6">
    			<div class="index-mainof1-news clear">
                        <img src="images/index-img1.png" alt="">
                        <div class="index-mainof1-news-center">
                            <h1>&lt;&lt;晚秋 再现舞台&gt;&gt;</h1>
                            <p class="computer">by 韩国宝蓝影业有限公司</p>
                            <div class="progress">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (danger)</span>
                                  </div>
                            </div>
                            <ul class="percent">
                                <li>
                                    <div>已筹资 <span>¥15,498</span></div>
                                </li>
                            </ul>
                        </div>
                </div>
    		</div>
    		<div class="col-md-6">
    			<div class="index-mainof1-news clear">
                        <img src="images/index-img1.png" alt="">
                        <div class="index-mainof1-news-center">
                            <h1>&lt;&lt;晚秋 再现舞台&gt;&gt;</h1>
                            <p class="computer">by 韩国宝蓝影业有限公司</p>
                            <div class="progress">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (danger)</span>
                                  </div>
                            </div>
                            <ul class="percent">
                                <li>
                                    <div>已筹资 <span>¥15,498</span></div>
                                </li>
                            </ul>
                        </div>
                </div>
    		</div>
    		<div class="col-md-6">
    			<div class="index-mainof1-news clear">
                        <img src="images/index-img1.png" alt="">
                        <div class="index-mainof1-news-center">
                            <h1>&lt;&lt;晚秋 再现舞台&gt;&gt;</h1>
                            <p class="computer">by 韩国宝蓝影业有限公司</p>
                            <div class="progress">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (danger)</span>
                                  </div>
                            </div>
                            <ul class="percent">
                                <li>
                                    <div>已筹资 <span>¥15,498</span></div>
                                </li>
                            </ul>
                        </div>
                </div>
    		</div>
    		<div class="col-md-6">
    			<div class="index-mainof1-news clear">
                        <img src="images/index-img1.png" alt="">
                        <div class="index-mainof1-news-center">
                            <h1>&lt;&lt;晚秋 再现舞台&gt;&gt;</h1>
                            <p class="computer">by 韩国宝蓝影业有限公司</p>
                            <div class="progress">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (danger)</span>
                                  </div>
                            </div>
                            <ul class="percent">
                                <li>
                                    <div>已筹资 <span>¥15,498</span></div>
                                </li>
                            </ul>
                        </div>
                </div>
    		</div>
    	</div>
    </div>
</div>
<div class="test1">
    <div class="test1-title">
    	<h1>当前最热</h1>
    </div>
    <div class="container">
    	<div class="row">
    		<div class="col-md-4">
    			 <div class="index-mainof2-news1">
                    <img src="images/index-img2.png" alt="">
                    <div class="index-mainof2-news-center">
                            <h1>&lt;&lt;晚秋 再现舞台&gt;&gt;</h1>
                            <p>&lt;&lt;晚秋&gt;&gt;根据李满熙导演1966年的同名电影改编而成，影片以美国西雅图为背景，讲述两名男女在异国他乡的爱情故事。</p>
                            <div class="progress">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (danger)</span>
                                  </div>
                            </div>
                            <ul class="percent clear">
                                <li>
                                    <div>48%</div>
                                    <div>进度</div>
                                </li>
                                <li>
                                    <div>¥15,498</div>
                                    <div>支持金额</div>
                                </li>
                                <li>
                                    <div>6</div>
                                    <div>剩余天数</div>
                                </li>

                            </ul>
                        </div>
                </div>
    		</div>
    		<div class="col-md-4">
    			 <div class="index-mainof2-news1">
                    <img src="images/index-img2.png" alt="">
                    <div class="index-mainof2-news-center">
                            <h1>&lt;&lt;晚秋 再现舞台&gt;&gt;</h1>
                            <p>&lt;&lt;晚秋&gt;&gt;根据李满熙导演1966年的同名电影改编而成，影片以美国西雅图为背景，讲述两名男女在异国他乡的爱情故事。</p>
                            <div class="progress">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (danger)</span>
                                  </div>
                            </div>
                            <ul class="percent clear">
                                <li>
                                    <div>48%</div>
                                    <div>进度</div>
                                </li>
                                <li>
                                    <div>¥15,498</div>
                                    <div>支持金额</div>
                                </li>
                                <li>
                                    <div>6</div>
                                    <div>剩余天数</div>
                                </li>

                            </ul>
                        </div>
                </div>
    		</div>
    		<div class="col-md-4">
    			 <div class="index-mainof2-news1">
                    <img src="images/index-img2.png" alt="">
                    <div class="index-mainof2-news-center">
                            <h1>&lt;&lt;晚秋 再现舞台&gt;&gt;</h1>
                            <p>&lt;&lt;晚秋&gt;&gt;根据李满熙导演1966年的同名电影改编而成，影片以美国西雅图为背景，讲述两名男女在异国他乡的爱情故事。</p>
                            <div class="progress">
                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (danger)</span>
                                  </div>
                            </div>
                            <ul class="percent clear">
                                <li>
                                    <div>48%</div>
                                    <div>进度</div>
                                </li>
                                <li>
                                    <div>¥15,498</div>
                                    <div>支持金额</div>
                                </li>
                                <li>
                                    <div>6</div>
                                    <div>剩余天数</div>
                                </li>

                            </ul>
                        </div>
                </div>
    		</div>
    	</div>
    </div>
</div>